<section class="breathe">
  <div class="container">
    <h2 class="breathe-title">Breathe in the Space</h2>
    <p class="breathe-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="breathe-list">
      <li class="breathe-item">
        <img
          class="breathe-photo"
          src="./image/exercise.webp"
          alt="exercise"
        />
      </li>
      <li class="breathe-item">
        <img
          class="breathe-photo"
          src="./image/meditation1.webp"
          alt="meditation1"
        />
      </li>
      <li class="breathe-item">
        <img
          class="breathe-photo"
          src="./image/yoga-room1.webp"
          alt="yoga_room1"
        />
      </li>
      <li class="breathe-item">
        <img
          class="breathe-photo"
          src="./image/yoga-room2.webp"
          alt="yoga_room2"
        />
      </li>
      <li class="breathe-item">
        <img
          class="breathe-photo"
          src="./image/meditation3.webp"
          alt="meditation3"
        />
      </li>
      <li class="breathe-item">
        <img
          class="breathe-photo"
          src="./image/meditation2.webp"
          alt="meditation2"
         />
      </li>
    </ul>
  </div>
</section>
