<section class="discover">
  <div class="container">
    <p class="discove-text">Explore</p>
    <h1 class="discover-title">Discover Our Most Popular Yoga Programs</h1>
    <p class="discover-subtitle">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="discover-list">
      <li class="discover-list-item">
        <img
          class="discover-list-photo"
          src="./image/exercise2.webp"
          alt="exercise2"
        />
        <h2 class="discover-list-subtitle">Beginner Yoga: Foundations</h2>
        <p class="discover-list-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li class="discover-list-item">
        <img
          class="discover-list-photo"
          src="./image/meditation5.webp"
          alt="meditation5"
        />
        <h2 class="discover-list-subtitle">
          Vinyasa Flow: Energize Your Body and Mind
        </h2>
        <p class="discover-list-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li class="discover-list-item">
        <img
          class="discover-list-photo"
          src="./image/meditation4.webp"
          alt="meditation4"
        />
        <h2 class="discover-list-subtitle">
          Restorative Yoga: Deep Relaxation and Healing
        </h2>
        <p class="discover-list-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <button class="discover-button" type="button">Join now</button>
  </div>
</section>
