<header>
  <section class="header-nav">
    <div class="container header-container">
      <nav class="nav">
        <ul class="header-list">
          <li class="header-info">
            <a class="header-link" href="./header.html">Yoga Classes</a>
          </li>
          <li class="header-info">
            <a class="header-link" href="@">Team</a>
          </li>
          <li class="header-info">
            <a class="header-link" href="@">Testimonials</a>
          </li>
          <li class="header-info">
            <a class="header-link" href="@">Pricing</a>
          </li>
          <li class="header-info">
            <a class="header-link" href="@">Contacts</a>
          </li>
        </ul>
      </nav>
      <img
        class="header-photo"
        src="./image/yoga-title.webp"
        alt="yoga-title"
      />

      <button type="button" class="header-button">Join Now</button>
    </div>
  </section>
</header>
