<section class="team">
    <div class="container">
    <h3 class="team-subtitle"> Meet </h3>
    <h2 class="team-title"> Our Team </h2>
    <p class="team-text"> Dedicated professionals passionate about yoga and wellness. </p>
    <ul class="team-list1">
<li class="team-item">
    <img class="team-photo" src="../image/liam.webp" alt="liam">
    <h3 class="team-name"> Liam Johnson </h3>
    <h4 class="team-job-title"> Yoga Instructor </h4>
    <p class="team-info"> Liam specializes in mindfulness and stress reduction techniques through guided meditation. </p>
    <ul class="team-list-app">
      <li class="team-item-app">
     <img class="team-app" src="../image/in.webp" alt="in"> 
      </li>
      <li class="team-item-app"> 
     <img class="team-app" src="../image/instagram.webp" alt="instagram">
      </li>
    </ul>
</li>
<li class="team-item">  
     <img class="team-photo" src="../image/emma.webp" alt="emma">
    <h3 class="team-name"> Emma Stone </h3>
    <h4 class="team-job-title"> Meditation Coach </h4>
    <p class="team-info"> Emma has over 10 years of experience in Hatha and Vinyasa yoga .</p>
    <ul class="team-list-app">
      <li class="team-item-app">
    <img class="team-app" src="../image/in.webp" alt="in">
      </li>
    </ul>
</li>
<li class="team-item">
    <img class="team-photo" src="../image/sophia.webp" alt="sophia">
    <h3 class="team-name"> Sophia Lee </h3>
    <h4 class="team-job-title"> Pilates Trainer</h4>
    <p class="team-info"> Sophia combines Pilates with yoga for a holistic fitness approach. </p>
    <ul class="team-list-app">
      <li class="team-item-app">
     <img class="team-app" src="../image/instagram.webp" alt="instagram">  
        </li>
    </ul>
    </ul>
    <ul class="team-list2">
</li>
<li class="team-item">
    <img class="team-photo" src="../image/noah.webp" alt="Noah">
    <h3 class="team-name"> Noah Brown </h3>
    <h4 class="team-job-title"> Yoga Therapist </h4>
    <p class="team-info"> Noah focuses on therapeutic yoga to aid recovery and enhance well-being. </p>
    <ul class="team-list-app">
      <li class="team-item-app">
   <img class="team-app" src="../image/in.webp" alt="in">
      </li>
    </ul>
</li>
<li class="team-item">
    <img class="team-photo" src="../image/ava.webp" alt="ava">
    <h3 class="team-name"> Ava Green </h3>
    <h4 class="team-job-title"> Fitness Trainer </h4>
    <p class="team-info"> Ava integrates strength training with yoga to promote overall fitness. </p>
      <ul class="team-list-app">
      <li class="team-item-app">
      <img class="team-app" src="../image/facebook.webp" alt="facebook">
       </li>
      <li class="team-item-app">
      <img class="team-app" src="../image/instagram.webp" alt="instagram"> 
       </li>
      <li class="team-item-app">
      <img class="team-app" src="../image/in.webp" alt="in">
      </li>
    </ul>
</li>
<li class="team-item">
    <img class="team-photo" src="../image/clark.webp" alt="clark">
    <h3 class="team-name"> Clark Thomas </h3>
    <h4 class="team-job-title"> Fitness Trainer </h4>
    <p class="team-info"> Clark specializes in mindfulness and stress reduction techniques through guided meditation. </p>    
    <ul class="team-list-app">
      <li class="team-item-app">
          <img class="team-app" src="../image/facebook.webp" alt="facebook">
      </li>
      <li class="team-item-app">
      <img class="team-app" src="../image/instagram.webp" alt="instagram"> 
      </li>
    </ul>
</li>
    </ul>
    </div>
</section>