<section class="transform">
  <div class="container transform-container">
    <img
      class="transform-photo"
      src="./image/exercise3.webp"
      alt="exercise3"
    />
    <div class="transform-column">
      <div class="column1">
        <h1 class="transform-title">
          Transform Your Life with Our Yoga Clases
        </h1>
      </div>
      <div class="column2">
        <p class="transform-text">
          Discover the harmony of mind and body through our expertly designed
          yoga programs. Join a community dedicated to wellness and personal
          growth.
        </p>
        <ul class="button-list">
          <li class="button-list-item">
            <button class="transform-button" type="button">Join Now</button>
          </li>
          <li class="button-list-item">
            <button class="transform-button2" type="button">Learn More</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
