:root {
  --title-color: #0d0b0a;
  --bg-color: #f2fafa;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1312px;
    padding-left: 12px;
    padding-right: 12px;
}

.discover {
  background-color: #f2fafa;
  padding-bottom: 112px;
  padding-top: 112px;
}

.discove-text {
  color: #0d0b0a;
  text-align: center;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 16px;
}

.discover-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.discover-title {
  color: #0d0b0a;
  text-align: center;
  font-family: Cabin;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.52px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  align-self: stretch;
}

.discover-subtitle {
  color: #0d0b0a;
  text-align: center;
  font-family: Sarabun;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-self: stretch;
}

.discover-list-photo {
  height: 240px;
  align-self: stretch;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  height: 240px;
  width: 421px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.discover-list-subtitle {
  color: #0d0b0a;
  text-align: center;
  font-family: Cabin;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.36px;
  max-width: 421px;
  margin-top: 32px;
  margin-bottom: 24px;
  align-self: stretch;
}

.discover-list-text {
  align-self: stretch;
  color: #0d0b0a;
  text-align: center;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 40px;
}

.discover-button {
  color: #0d0b0a;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #c2d9fc;
  background: #c2d9fc;
  margin-left: auto;
  margin-right: auto;
}
