:root {
  --title-color: #0d0b0a;
  --bg-color: #f2fafa;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1312px;
    padding-left: 12px;
    padding-right: 12px;
}
header {
  display: flex;
  background-color: var(--bg-color);
  justify-content: center;
  padding-top: 23px;
  padding-bottom: 23px;
}
nav {
  display: flex;
  align-items: center;
  margin-right: 161px;
}
.header-container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.header-link {
  color: #0d0b0a;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  display: flex;
  display: block;
}
.header-photo {
  margin-right: 509px;
  display: flex;
  width: 84px;
  height: 46px;
  padding: 2.86px 0.5px 9.63px 0.353px;
  justify-content: center;
  align-items: center;
  margin-right: 509px;
}
.header-info:hover {
  text-decoration: underline black;
}

.header-list {
  display: flex;
  gap: 32px;
  margin-right: 161px;
}
.header-button {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid#c2d9fc;
  background: #c2d9fc;
  color: #0d0b0a;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
