:root {
  --title-color: #0d0b0a;
  --bg-color: #f2fafa;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1312px;
    padding-left: 12px;
    padding-right: 12px;
}

.helps {
  padding-top: 112px;
  padding-bottom: 112px;
  background: var(--bg-color);
}

.helps-title {
  color: var(--title-color);
  text-align: center;
  font-family: Cabin;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.52px;
  margin-bottom: 24px;
}

.helps-text {
  color: var(--title-color);
  text-align: center;
  font-family: Sarabun;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 40px;
}

.helps-list {
  display: flex;
  width: 1312px;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}

.helps-subtitle {
  color: var(--title-color);
  text-align: center;
  font-family: Cabin;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.28px;
  padding-bottom: 24px;
}

.helps-info {
  color: var(--title-color);
  text-align: center;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.helps-button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid var(--Color-Hawkes-Blue, #c2d9fc);
  background: var(--Color-Hawkes-Blue, #c2d9fc);
  color: var(--title-color);
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin: 40px auto;
}
