 :root {
     --text-color: rgb(13, 11, 10);
     --background-color: rgb(223, 235, 235);
     --buttons-color: rgb(194, 217, 252);
 }

 .container {
    margin-right: auto;
    margin-left: auto;
    width: 1312px;
    padding-left: 12px;
    padding-right: 12px;
 }

 .pricing {
     padding-bottom: 112px;
     padding-top: 112px;
     background-color: rgb(242, 250, 250);
 }

 .pricing-text {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .pricing-tittle {
     color: var(--text-color);
     text-align: center;
     font-family: Cabin;
     font-size: 52px;
     font-style: normal;
     font-weight: 400;
     line-height: 120%;
     letter-spacing: 0.52px;
     margin-top: 16px;
 }

 .pricing-quote {
     color: var(--text-color);
     text-align: center;
     font-family: Sarabun;
     font-size: 18px;
     font-style: normal;
     font-weight: 400;
     line-height: 160%;
     margin-bottom: 40px;
     margin-top: 24px;
 }

 .pricing-list {
     display: flex;
     gap: 32px;
 }

 .pricing-item {
     width: 421.33px;
     height: 509px;
     display: flex;
     padding: 32px;
     flex-direction: column;
     align-items: center;
     flex: 1 0 0;
     border-radius: 16px;
     border: 0px solid rgba(13, 11, 10, 0.15);
     background: var(--background-color);
 }

 .pricing-course {
     color: var(--text-color);
     text-align: center;
     font-family: Cabin;
     font-size: 22px;
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     letter-spacing: 0.22px;
 }

 .pricing-price {
     color: var(--text-color);
     text-align: center;
     font-family: Cabin;
     font-size: 72px;
     font-style: normal;
     font-weight: 400;
     line-height: 120%;
     letter-spacing: 0.72px;
 }

 .price {
     display: flex;
     flex-direction: column;
     gap: 16px;
     margin-top: 40px;
 }

 .price-item {
     display: flex;
     align-items: flex-start;
     gap: 16px;
     align-self: stretch;
     width: 357.33px;

 }

 .price-text {
     color: var(--text-color);
     font-family: Sarabun;
     font-size: 16px;
     font-style: normal;
     font-weight: 400;
     line-height: 160%
 }

 .pricing-button {
     border-radius: 100px;
     padding-left: 24px;
     padding-right: 24px;
     padding-top: 10px;
     padding-bottom: 10px;
     border: 1px solid var(--buttons-color);
     background-color: var(--buttons-color);
     margin-top: 116px;
     width: 357.33px;
     height: 46px;
     color: var(--text-color);
     font-family: Sarabun;
     font-size: 16px;
     font-style: normal;
     font-weight: 500;
     line-height: 160%;
 }

 .pricing-button1 {
     margin-top: 32px;
 }