:root {
    --text-color: rgb(13, 11, 10);
    --card-background: rgb(223, 235, 235);
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1312px;
    padding-left: 12px;
    padding-right: 12px;
}

/* Testimonilials */

.tesmotilials {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: rgb(242, 250, 250); 
}

.tesmotilials-tittle {
    color: var(--text-color);
    text-align: center;
    font-family: Cabin;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.52px;
}

.tesmotilials-text {
    color: var(--text-color);
    text-align: center;
    font-family: Sarabun;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 24px;
    margin-top: 24px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;

}

.card-item {
    background-color: var(--card-background);
    display: flex;
    width: 644px;
    height: 321px;
    padding: 12px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
}

.card-text {
    color: var(--text-color);
    text-align: center;
    font-family: Sarabun;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: auto;
}

.card-photo {
    border-radius: 50%;
    height: 56px;
    margin-bottom: 16px;
    width: 56px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

/* .card-text:nth-child(2) {
    margin-bottom: 102px;
}

.card-text:nth-child(3) {
    margin-bottom: 67px;
} */
 
.card-name {
    color: var(--text-color);
    text-align: center;
    font-family: Sarabun;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

.card-profession {
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}