.transform {
  display: flex;
  padding: 0ps;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  height: 1108px;
  background-color: #f2fafa;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1312px;
    padding-left: 12px;
    padding-right: 12px;
}

.transform-column {
  display: flex;
  gap: 24px;
}

.column1 {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 64px;
}

.column2 {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 64px;
}

.transform-photo {
  height: 684px;
  align-self: stretch;
  background: url(<path-to-image>) lightgray 0px -151.564px / 100% 132.722% no-repeat;
}

.transform-title {
  color: #0d0b0a;
  font-family: Cabin;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.72px;
  align-self: stretch;
}

.transform-text {
  color: #0d0b0a;
  font-family: Sarabun;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  align-self: stretch;
}

.button-list {
  display: flex;
  gap: 16px;
  margin-top: 32px;
}

.transform-button {
  color: #0d0b0a;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #c2d9fc;
  background: #c2d9fc;
}

.transform-button2 {
  color: #0d0b0a;
  font-family: Sarabun;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0);
  background: rgba(13, 11, 10, 0.05);
}
